<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">FORTUNE COOKIE CAFE</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#counsel_post">Write</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">List</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#contact">Contacts</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header style="background-image: url('https://timedotcom.files.wordpress.com/2017/02/170203_fortunecookies1.jpg?quality=85')">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">FORTUNE COOKIE CAFE </h1>
 
                <hr>
                <h5>TAROT RESULT</h5>
                <p id="result_quote"><%=@quote%></p>
                <%= link_to "Replay", {action: :random}, remote: true, class: "btn btn-default btn-xs sr-button" %>
                <a href="#counsel_post" class="btn btn-primary btn-xl page-scroll">Need more Fortune?</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="counsel_post">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <% if user_signed_in? %>
                        <h2 class="section-heading">Fortune Question?</h2>
                        <hr class="light">
                        <%=form_for @post, url: "post/create" do |f| %>
                            <div style="color: black;">
                                <%=f.label :title, "Title"%><br>
                                <%=f.text_area :title, cols: "50", rows: "1" %>
                                <br><br>
                                <%=f.label :content, "Content" %><br>
                                <%=f.text_area :content, cols: "50", rows: "5" %>
                                <br>
                            </div>
                            <%= f.submit "Submit", class: "btn btn-default btn-m sr-button" %>
                        <% end %>
                    <% else %>
                        <h2 class="section-heading">Login</h2>
                        <div style="color: black;">
                            <%= render 'users/sessions/new'%>
                            <%= render "users/shared/links" %>
                        </div>
                    <% end %>
                    <br><br>
                    <p class="text-faded">Don't hesitate to ask for any help and care</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">See Others' Questions</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Fortune Questions List</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Wealth</h3>
                          <%if @posts.empty? %>
                            <p> No Questions Yet</p>
                          <% else %>
                        <table id="post_table">
                            <tr>
                                <thead>
                                    <th width="60%">Title</th>
                                    <th width="20%">Timestamps</th>
                                </thead>
                            </tr>
                            <tbody>
                            <% @posts.each do |post| %>
                            <div class="modal">
                                  <% if @post.present? %>
                                      <%= @post.content %>
                                  <% end%>
                            </div>
                            
                            <tr class="text-muted" data-href= "/post/show/<%=post.id%>">
                                <td><%=post.title%></td>
                                <td><%=post.created_at.to_date%></td>
                            </tr>
<script>                            
$(document).on("click", "#post_table tr", function() {
  var link  = $(this).data("href")
//   alert(link);
  $.ajax({
    url: link,
    type: "GET"
  }).done(function(){
$('#postModal').modal('show');
    $('#postModal').on('shown', function() {
        $("#txtname").focus();
    });      
  });
});     

</script>

                            <!--  <%#=link_to "post/show/#{post.id}", remote: true, data: {toggle: "modal", target: "#myModal"} do %>-->
                            <!--      <tr class="text-muted">-->
                            <!--        <td><%#=post.title%></td>-->
                            <!--        <td><%#=post.created_at.to_date%></td>-->
                            <!--      </tr>-->
                            <!--  <%# end %>-->
                            </tbody>
                              <!-- Modal -->
  <div class="modal fade" id="postModal" role="dialog">
    <div class="modal-dialog">
    
       Modal content
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <br><p class="modal-post-content" style="border: 1px solid #ccc; border-radius: 16px;">asdg</p>
          <br><p>COMMENTS</p><hr><br>
          <p class="modal-comments"></p>
        </div>
        <div class="modal-footer">
            
        </div>
      </div>
      
    </div>
  </div>
                             <% end %>
                        <% end %>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </section>




    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">매력있냐?!</h2>
                    <hr class="primary">
                    <p>관심있으면 번호저장하샘. 사람조아함. 좀 예쁘지만 못생김. 그치만 난 널 사랑한단다</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>010-6263-687*</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">어흥어흥@likelion.org</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/creative.min.js"></script>

</body>
